@charset "utf-8";

/* widget-basic-tag-list */
.widget-basic-tag-list { }
.widget-basic-tag-list ul { padding:0px; margin:0px; line-height:22px; list-style:none; }
.widget-basic-tag-list li { margin:0; padding:0px; }
.widget-basic-tag-list li .icon { color:#ddd; }
.widget-basic-tag-list li .count { margin-left:8px; margin-right:4px; }
.widget-basic-tag-list li.item-none { padding:50px 10px; }
.widget-basic-tag-list li.btn-wset { display:none; }
